.vscode/**
.github/**
src/**
test/**
third_party/**
node_modules/**
**/.DS_Store
wasm/binding.cpp
wasm/build-wasm.sh
wasm/harness.mjs
esbuild.js
tsconfig.json
docs/**
useful_files/**
dist-test/**
.git*
e2e_tmp.mjs
**/*.map
